@import url('https://fonts.googleapis.com/css?family=Rosario&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --bg-color: #fafafa;
    --bg-grey: #F2F2F2;
    --bg-green: rgba(42, 157, 143, 0.2);
    --bg-orange: rgba(244, 162, 97, 0.25);
    --cta-yellow: #F6E972;
    --text-color: #000000;
}

body {
    background-color: var(--bg-color);
    margin: 0;
}

h1 {
    font-family: Rosario;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.4;
}

h2 {
    font-family: Rosario;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;

    padding: 1rem;
}

h3 {
    font-family: Rosario;
    font-size: 1.5em;
}

p {
    font-family: Lato;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    color: var(--text-color);
}

input[type=text] {
    background: var(--bg-grey);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    border:none;

    width: 50%;
    padding: 1rem;
    margin: 1rem;
}

input[type=message] {
    background: var(--bg-grey);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    border:none;

    width: 50%;
    height: 70%;
    padding: 1rem;
    margin: 1rem;
}

/* Header */
.nav {
    padding: 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav a:hover {
    text-decoration-line: underline;
}

.nav a:active {
    font-style: bold;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#nav2 {
    justify-self: left;
}
#nav3 {
    justify-self: right;
}

.shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11)
}

.ham1,
.ham2,
.ham3 {
  width: 35px;
  height: 3px;
  background-color: #000000;
  margin: 5px 0;
  transition: 0.4s;
}
.mobile-header {
    display: none;
  }
.mobile-header #mobile-nav {
    display: none;
  }



#cards {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background: var(--bg-grey);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 20px;

    padding: 1.5rem;
    margin: 2rem;
    margin-bottom: 10rem;
}

.cta {
    background: var(--cta-yellow);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    border: none;
    padding: 0.5rem 2rem;
    margin: 1rem;
}


.people {
    text-align: center;
}

.background-green {
    background-color: var(--bg-green);
    width: 100%;
}

.background-orange {
    background-color: var(--bg-orange);
    width: 100%
}

.background-grey {
    background-color: var(--bg-grey);
    width: 100%;
}

.bg-hero {
    background: url(assets/background/background_hero.svg) no-repeat;
    background-position: right;
    width: 100%;
}

.bg-basic {
    background: url(assets/background/background_basic.svg) no-repeat;
    width: 100%;
    background-size: contain;
}


.bg-reasons {
    background: url(assets/background/background_reasons.svg) no-repeat;
    background-position: center;
}

.bg-about {
    background: url(assets/background/background_about.svg) no-repeat;
    background-position: right;
    width: 100%;
}

.bg-contact {
    background: url(assets/background/background_contact.svg) no-repeat;
    background-position: right;
    width: 100%;
}

#hero {
    margin-bottom: 10rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#hero p {
    padding: 1rem;
    margin-top: 2rem;
}
#logo {
    width: 10rem;
}

#basic {
    margin-bottom: 10rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#basic p {
    padding: 1rem;
}

#blog {
    margin-bottom: 10rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#blog p {
    padding: 1rem;
}

#features {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}



#product {
    padding: 4rem;
    margin-bottom: 10rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#product h2 {
    text-align: center;
    color: #2A9D8F;
}

#product img {
    display: flex;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

#newsletter {
    text-align: center;
    padding: 4rem;
    margin-bottom: 10rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#about {
    margin-bottom: 10rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#about h2 {
    text-align: center;
}

.faq-non-mobile {
    padding: 4rem;
    margin-bottom: 10rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.faq-mobile {
    display: none;
}

.faq-non-mobile h2 {
    text-align: center;
    padding: 0;
}

.faq-non-mobile h3 {
    text-align: center;
    padding-bottom: 2rem;
}

.accordion {
    background-color: var(--bg-orange);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    background-color: var(--bg-orange);
    display: none;
    overflow: hidden;
}

#contact {
    margin-bottom: 10rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    padding: 4rem 4rem 1rem 4rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#c {
    padding-top: 1rem;
    text-align: center;
}
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 992px) {
    .non-mobile-header {
        display: none !important;
      }
      .mobile-header {
        display: block !important;
      }

      ul {
          list-style-type: none;
      }
      .mobile-header a.icon {
        display: inline-block;
        position: absolute;
        right: 1rem;
        top: 2rem;
      }

      .logo {
        max-width: 70%;
        padding: 10px 20px;
      }
      #mobile-nav {
        width: 100%;
    }

    .cta {
        padding: 1rem 2rem;
    }

    .grid-2 {
        grid-template-columns: 1fr;
    }
    .grid-3 {
        grid-template-columns: 1fr;
    }
}
